.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

#Login, #Sections {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 999;
}

#Login {
    padding-top: 30px;
}

#Sections {
    z-index: 998;
}

.loginFieldLabel {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: gray;
    font-family:  "Times", "Times New Roman", "serif", "sans-serif", "EmojiSymbols";
    transform: scaleX(-1); /* Or also:   rotateY(180deg) */
    -ms-filter: fliph;
    filter: fliph;
    padding-top: 10px;
}

.loginTitle {
    text-align: center;
    margin-left: 15%;
    width: 70%;
    font-family:  "REEJI-Sun-BlackGBV1.0";
    font-weight: normal;
}

.sectionTitle {
    font-family:  "REEJI-Sun-BlackGBV1.0";
    font-weight: normal;
}

#Username, #Password, #submit {
    display: inline-block;
    /* line-height: 2; */
    /* padding: 8px 16px; */
    border: 0;
    border-bottom: thin solid gray;
    /* border-radius: 20px; */
    font-size: 24px;
    text-align: center;
    outline: 0;
    color: gray;
    width: 90%;
}

#Username, #Password {
    padding-top: 8px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;
}

#Password {
    margin-bottom: 25px;
}

#register,.friend, .section, .redo {
    display: inline-block;
    /* line-height: 2; */
    padding: 8px 16px;
    font-size: 24px;
    text-align: center;

    outline: 0;
    width: 100%;
}

.section, .redo {
    border: 0;
    border-bottom: solid thin gray;
    color: #fff;
    background-color: #0077d9;
}

.section, .redo {
    padding: 5px;
    font-size: 20px;
    text-align: center;
    background-color: #00b150;
    width: 90%;
    border-radius: 10px;
    border: thin solid #008138;
    margin: 2px 5% 2px 5%;
    font-family:  "REEJI-Sun-BlackGBV1.0";
    font-weight: normal;
}

.redo {
    background-color: #0177d9;
}

.redoDisabled {
    background-color: gray;
    color: #aaaaaa;
}

#UsernameDisplay {
    text-align: center;
    position: fixed;
    bottom: 0;
}

.Copyright, .CopyrightLogin {
    text-align: center;
    color: #808080;
    width: 100%;
    font-size: xx-small;
    margin-top: 50px;
    opacity: 0.30;
    z-index: -1;
}

.CopyrightLogin {
    position: fixed;
    bottom: 0;
}

#submit {
    border: 0;
    border-radius: 20px;
    background-color: red;
    color: #fff;
    padding: 5px;
    width: 70%;
}

@font-face {
    font-family: "EmojiSymbols";
    src: url(EmojiSymbols-Regular-37883244862ada81e50a5c43f090ab5b696a4d27c5e66d321546a1638bb1e682.woff) format("woff");
    text-decoration:none;font-style: normal
}

@font-face {
    font-family: "REEJI-Sun-BlackGBV1.0";
    src: url(CJKBF.ttf) format("truetype");
    text-decoration:none;font-style: normal
}

.loginWrap {
    text-align: center;
    /* background-color: #20b320; */
    border-radius: 30px;
    /* border: thin solid #366933; */
}

#register,.friend {
    border: 0;
    background-color: red;
    color: #fff;

    width: 100%;
}

.loginBackground {
    width: 80%;
    display: block;
    margin-left: 13%;
}

.friend {
    line-height: 3;
}

.friendLabelContainer {
    position: relative;
}

#submit {
    background-color: #00bcd4;
}

#List {
    padding: 5px 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #c3c3c3;
    width: 100%;
    overflow-y: scroll;
    border-right: thin solid black;
}

.friend {
    font-size: 72px;
    box-sizing: border-box;
    padding: 0;
    border: thin solid black;
    background-color: #fff;
    color: #000;
}

#Add_Friend_Wrap {
    font-size: 72px;
    width: 100%;
    text-align: center;
}

#Add_Friend {
    font-size: 72px;
    outline: none;
    padding: 0 5px;
    margin: 20px;
    width: 75%;
    border: 0;
    border-radius: 5px;
}

#Connecting_State, #Self_ID {
    font-size: 72px;
    padding: 0;
    border: 0;
    background: #c3c3c3;
    text-align: center;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

#Self_ID {
    font-size: 72px;
}

#send {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 240px;
}

#content {
    padding: 8px 16px;
    font-size: 48px;
    font-family: inherit;
    outline: none;
    width: 100%;
    resize: none;
    background-color: #eee;
    box-sizing: border-box;
    border: 0;
    border-radius: 30px;
    margin: 0;
}

#backToFriendsList {
    font-family: inherit;
    font-size: 48px;
    outline: none;
    padding: 8px 16px;
    border: 0;
    border-radius: 50%;
    background: #0077d9;
}

#confirm {
    font-family: inherit;
    font-size: 48px;
    outline: none;
    padding: 8px 16px;
    width: 150px;
    border: 0;
    border-radius: 30px;
    background: #0077d9;
}

.mathkey {
    display: inline-block;
    line-height: 1;
    padding: 8px 16px;
    font-size: 48px;
    text-align: center;
    outline: 0;
    width: 100%;
    border: 0;
}

.messages {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 280px;
    width: 100%;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.messageOuterWrap {
    margin-left: 15px;
    margin-right: 15px;
}

.messageOuterWrap + .messageOuterWrap {
    margin-top: 30px;
}

.message {
    display: inline-block;
    padding: 10px;
    border: none;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    margin: 0;
    background: #eeeeee;
    max-width: 80%;
    overflow-x: scroll;
}

.sent {
    position: relative;
    font-size: 48px;
    text-align: right;
    margin: 5px 5px 5px auto;
}

.received {
    position: relative;
    font-size: 48px;
    text-align: left;
    margin: 5px auto 5px 5px;
}

.sent::before, .received::before {
    position: absolute;
    top: 30px;
    border: 6px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 15px;
    border-right-color: transparent;
    border-right-style: solid;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-left-color: transparent;
    border-left-style: solid;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    content: " "
}
.sent::before {
    border-right-width: 0px;
    border-left-width: 40px;
    right: 0px;
    border-left-color: #eeeeee;
}
.received::before {
    border-right-width: 40px;
    border-left-width: 0px;
    left: 0px;
    border-right-color: #eeeeee;
}

.messageWrap {
}

.sent > .messageParaWrap {
    padding-right: 40px;
    margin-right: 0;
}

.received > .messageParaWrap {
    padding-left: 40px;
    margin-left: 0;
}

.sentTable {
    display: table;
}

.receivedTable {
    display: table;
}

.portrait {
    width: 150px;
    height: 150px;
}

#HeadArea {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #0077d9;
    color: #fff;
    height: 200px;
}

#back {
    background: none;
    border: 0;
}

#advanced {
    border: thin solid black;
    position: fixed;
    bottom:120px;
    right: 20px;
    padding: 20px;
    background: white;
    opacity: 0.85;
}

#upload {
    font-size: 36px;
}

#alias {
    line-height: 2;
    padding: 4px 8px;
    font-size: 48px;
}
