#CategoryTag {
    border: thin black solid;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

#progressBar {
    width: 100%;
    line-height: 1px;
    /* background-image: linear-gradient(to right, green, green, green, green, green, green, white, green, green, green, green, green, green); */
}

#Panel {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 8px;
    background-color: rgba(255,255,255, 0.6);
}

.erganzen {
    font-size: 24px;
    text-align: center;
    border-bottom: thin solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
}

#PhantomPanel {
    height: 53px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#SECTION {
    display: block;
    text-align: left;
}

/*#PREV_cell {
    text-align: right;
}

#NEXT_cell {
    text-align: right;
}*/

#NEXT {
    display: inline-block;
}

#ArtikelButtons {
    display: grid;
    grid-template: 36px/1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

#VowButtons {
    margin: 5px;
    display: grid;
    grid-template: 24px/1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.vow {
    display: inline-block;
    font-size: 16px;
    height: 24px;
    border: thin solid black;
    word-wrap:break-word;
    white-space: normal;
}

#Translation {
    display: inline-block;
}

#Stem, #Decl {
    display: block;
    width: 100%;
    line-height: 1.5;
    outline: 0;
    text-align: center;
    font-size: 32px;
}

#QuestionText, #PoliticsQuestionText {
    text-align: center;
    font-size: 18px;
    margin: 10px auto;
}

#PoliticsQuestionText {
    text-align: left;
}

#Buttons {
    display: grid;
    grid-template: auto/1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

#Categories {
    display: grid;
    grid-template: 24px/1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.category {
    background: gray;
}

#GeneralButtons {
    display: grid;
    grid-template: 36px/1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.option, .artikel {
    display: inline-block;
    font-size: 18px;
    border: thin solid black;
    word-wrap:break-word;
    white-space: normal;
}

.politicalOption {
    display: block;
    width: 100%;
    text-align: left;
}

.politicalOption + .politicalOption{
    margin-top: 10px;
}

.statisticsGraph {
    display: block;
    margin: auto;
    position: relative;
    top: -300px;
}

.statisticsBackground {
    position: relative;
    top: 195px;
}

#StatisticsWrap {
    position: relative;
    width: 280px;
    margin: auto;
}

#matchRate {
    font-weight: 100px;
    color: green;
    position: absolute;
    left: 128px;
    top: 80px;
    font-size: 18px;
}

#mistakenRate {
    font-weight: 100px;
    color: red;
    position: absolute;
    left: 65px;
    top: 161px;
    font-size: 18px;
}

#PanelWrapper {
    position: relative;
}

#Stem {
    background-color: rgba(255,255,255, 0.6);
}

.wronganswer.picked {
    color: red;
}

.rightanswer.picked {
    color: green;
}

.wronganswer.picked.striked {
    color: #b72d2d;
}

.wronganswer.notpicked.striked {
    color: gray;
}

#exitBackground {
    display: block;
    position: absolute;
    top: 30%;
    width: 70%;
    left: 15%;
    z-index: 995;
    opacity: 1;
    border-radius: 10px;
    border: thin solid #0077d9;
    border-top: 25px solid #0077d9;
    filter: brightness(50%);
    height: 150px;
    overflow: hidden;
}

#exitConfirm {
    position: absolute;
    top: 235px;
    width: 220px;
    left: 127px;
    font-size: 18px;
    z-index: 996;
    padding: 20px;
}

#exitBackgroundImage {
    display: block;
    position: absolute;
    top: 200px;
    width: 350px;
    left: 0px;
    z-index: 995;
}

.exitConfirmButton {
    display: inline-block;
    font-size: 18px;
    border: 0;
    text-align: center;
    outline: 0;
    color: white;
    width: 100%;
}

#cancelExit {
    background-color: #0077d9;
}

#confirmExit {
    background-color: #b72d2d;
}

body {
    background-image: url('questionBackground.jpg');
    background-repeat: no-repeat;
    background-size: 1440px 675px;
}

#SECTION {
    max-height: 44px;
    overflow-y: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
    padding: 8px;
    overflow-y: scroll; 
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

* {
    box-sizing: border-box;
}